[Desktop Entry]
Version=1.0
Name=audio_switch
Type=Application
Exec=~/Документы/Programs/audioSwitch/venv/bin/python /home/metalhead/Документы/Programs/audioSwitch/main.py
